body{
background-color: lightgray;
font-family: Arial;
}

h1{
color: darkblue;
  font-size: 17px;
text-align: center;
}

h2{
color: darkred;
}

p{
font-size: 18px;
}

table{
border: 2px solid black;
}

td{
border: 1px solid black;
}

th{
border: 1px solid black;
background-color: gray;
color: white;
}

.menu{
background-color: black;
color: white;
text-align: center;
}

.contenido{
background-color: white;
padding: 10px;
}

a{
color: yellow;
}
